<h1>userの詳細</h1>
<p><%= link_to '一覧', admin_users_path %></p>
<tbody>

<p>
 <th> 名前</th>
 <td><%= @user.name %></td>
</p>
<p>
<th> email</th>
<td><%= @user.email %></td>
</p>
<p>
<th>admin</th>
<td><%= @user.admin? ? 'あり': 'なし' %></td>
</p>
<p>
<th> 新規作成 </th>
<td><%= @user.created_at %></td>
</p>
<p>
<th> 更新日 </th>
<td><%= @user.updated_at%></td>
</p>

<td><%= link_to t('view.edit'), edit_admin_user_path(@user) %></td>
<td><%= link_to t('view.destroy'),[:admin, @user], method: :delete, data: { confirm: t('view.are_you_sure?') } %></td>

 <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('view.user') %></th>
          <th><%= t('view.title') %></th>
          <th><%= t('view.content') %></th>
          <th><%= t('view.created_at') %></th>
          <th><%= t('view.deadline') %></th>
          <th><%= t('view.status') %></th>
          <th><%= t('view.priority') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user.tasks.each do |task| %>
          <tr class ="task_row">
            <td scope="row" ><%= task.user.name %></td>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.created_at %></td>
            <td><%= task.deadline %></td>
            <td><%= t("enums.task.status.#{task.status}") %></td>
            <td><%= t("enums.task.priority.#{task.priority}") %></td>
            <td><button type="button" class="btn btn-outline-info btn-sm"><%= link_to t('view.show'), task %></button></td>
            <td><button type="button" class="btn btn-outline-warning btn-sm"><%= link_to t('view.edit'), edit_task_path(task) %></button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm"><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: t('view.are_you_sure?') } %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
